
.homepage img{
    width:60%;
    min-width:100px;
}

.navbar-header img {
    height: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0 15px;
}

.mainContent{
    margin-top:50px;
    margin-bottom: 60px;
}